<div class="container mt-4 mb-4">
    <div class="card-group d-flex justify-content-center">
        <div class="card d-flex ml-4 p-4 bg-ligth border-0">
          <img src="/img/logos/multi.png" class="card-img-top companies" alt="...">
        </div>
        <div class="card d-flex ml-4 p-4 bg-ligth border-0">
          <img src="/img/logos/caracas.png" class="card-img-top companies" alt="...">
        </div>
        <div class="card d-flex ml-4 p-4 bg-ligth border-0">
            <img src="/img/logos/mercantil.png" class="card-img-top companies" alt="...">
          </div>
  
        <div class="card d-flex ml-4 p-4 bg-ligth border-0">
          <img src="/img/logos/piramide.png" class="card-img-top companies" alt="...">
        </div>
      </div>
</div>