<%- include('base') %>

<style>
  .congra {
    width: 100%;
  }
  .logoCongra {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
</style>

<div class="container mt-4">
  <div class="d-flex justify-content-center aligh-content-center mt-4">
    <img class="logoCongra" src="/img/SM3.png" alt="" />
  </div>

  <div>
    <h2 class="text-center m-4 display-4">
      Gracias, te estare contactando a la brevedad
    </h2>
    <img class="congra" src="/img/congratulations.jpg" alt="" />
  </div>

  <div class="bg-principal text-center p-4 mt-4">
    <h1 class="fw-light mt-4 text-white">Seguro Mosquera</h1>
    <p class="lead text-white opacity-50">
      Los seguros no se piensan,se toman, por que los siniestros no planean,
      llegan, asegurate con Seguros Mosquera
    </p>
  </div>
</div>
