<%- include('base') %>

<link rel="stylesheet" href="/css/index.css">
    <!-- carusel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade animate__animated animate__backInLeft" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="landing-1" src="/img/1.jpg" class="d-block w-100 img-landing  " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark">Seguro de Hogar</h5>
              <p class="text-dark">Potege el santuario de tu familia</p>
            </div>
          </div>
          <div class="carousel-item">
            <img id="landing-2" src="/img/2.jpg" class="d-block w-100 img-landing  " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark">Seguro de vehiculos</h5>
              <p class="text-dark">Manejar con seguridad no tiene precio</p>
            </div>
          </div>
          <div class="carousel-item">
            <img id="landing-3" src="/img/3.jpg" class="d-block w-100 img-landing  " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark">Seguros otros</h5>
              <p class="text-dark">Le damos el valor a todo lo que vale para ti!</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div> 
    
    <!-- contac -->
    <div class="container-fluid bg-principal">
      <div class="row">
        <div class="col-sm-12 d-flex p-4 d-flex justify-content-around">
          <a href="3" class="text-light animate__heartBeat"><i class="bi bi-envelope h2 animate__animated "></i> </a>
          <a href="https://wa.link/iolwqd" target="_blank" class="text-light ms-4 animate__heartBeat"><i class="bi bi-telephone h2 animate__animated "></i></a>
          <a href="https://www.instagram.com/seguromosquera/?hl=es-la" target="_blank" class="text-light ms-4 animate__heartBeat"><i class="bi bi-instagram h2 animate__animated "></i></a>
        </div>
      </div>
    </div>

    <!-- services -->




<%- include('policies') %>

<!-- 
<div class="container d-flex justify-content-center aling-conter-center mt-4 mb-4" >
  <a href="quote" class="bt btn-primary d-block rounded p-4  text-center" >Hacer cotizacion</a>
</div> -->




<%- include('companies') %>



<%- include('footer') %>

    </div>

<script>
  const img1 = document.getElementById('landing-1');
  const img2 = document.getElementById('landing-2');
  const img3 = document.getElementById('landing-3');


  if (screen.width < 900) {
    img1.setAttribute('src','/img/mobil1.png');
    img2.setAttribute('src','/img/mobil2.png');
    img3.setAttribute('src','/img/mobil3.png');
    
  }




</script>
  

