<div class="container m-4 mx-auto">
  <h3 class="display-4 text-center">Polizas</h3>

  <!-- cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Hogar</h5>
          <a href="" class="btn btn-primary d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="" class="text-center" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Motos</h5>
          <a href="" class="btn btn-primary d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="" class="text-center" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Vehiculos</h5>
          <a href="" class="btn btn-primary d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="" class="text-center" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Familiar</h5>
          <a href="" class="btn btn-primary d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="" class="text-center" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Pyme</h5>
          <a href="" class="btn btn-primary d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="" class="text-center" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="/img/polizas/6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center display-7">Otros</h5>
          <a href="" class="btn btn-primary  d-block">+Info</a>
        </div>
        <div class="card-footer">
          <a href="https://wa.link/iolwqd" class="mx-auto" >Consultar directa por whatsapp</a>
        </div>
      </div>
    </div>
  </div>

</div>


