<div class="container bg-light">
    <h2 class="display-4 text-center" >Cotizacion</h2>
    <form class="form-control" name="quotes">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre completo">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido completo">
          </div>
        <div class="mb-3">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Telefono/Whatsapp</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefono o whatsapp">
        </div>
        <p class=" m-2" >Que desea cotizar?</p>


        <select class="form-select" aria-label="Default select example">
            <option selected>Seleccione un opcion</option>
            <% policies.forEach(el => { %>
              <option value="1"><%= el.name %> </option>
            <% }) %>
          </select>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Informacion adicional</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>        
        <button type="submit" class="btn btn-primary">Cotizar</button>
      </form>
</div>


