:root {
  --fColor: #112132;
  --sColor: #335671;
  --tColor: #6e90ad;
  --ftColor: #8cafcc;
}

.bg-principal {
  background-color: var(--fColor);
}

.landing {
  width: 100vh;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
  position: relative;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  width: 65px;
  height: auto;
}

.img-landing {
  height: 100vh;
  object-fit: cover;
}



.whatsapp{
  position: fixed;
  background:var(--fColor);
  color: #42C553;
  border-radius: 80% 0px 0px 0px;
  bottom: 0;
  right: 0;
  padding:10px 10px 10px 20px;
  z-index: 2000;
  cursor:pointer;
  transition: 1s;
}

.whatsapp:hover{
  border-radius: 20% 0px 0px 0%;
  
}